bcrypt==3.1.0
blinker==1.4
cffi==1.7.0
chardet==2.3.0
click==6.6
Flask==0.11.1
Flask-API-Utils==1.0.2
## FIXME: could not find svn URL in dependency_links for this package:
Flask-Async===0.11
Flask-Auth==0.85
Flask-Bcrypt==0.7.1
Flask-Debug==0.4.3
Flask-Email==1.4.4
Flask-Mail==0.9.1
flask-mongoengine==0.7.5
Flask-WTF==0.12
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.6
multidict==1.2.2
pycparser==2.14
pymongo==3.2.2
six==1.10.0
tornado==4.4.1
Werkzeug==0.11.11
WTForms==2.1
